@use './colors.scss' as *;

.icon{
    width: 1.2rem;
    height: 1.2rem;
    display: inline-block;
    vertical-align: middle;
    background-color: $black;
    mask-repeat: no-repeat;
    mask-position: center;
    mask-size: contain;
    -webkit-mask-repeat: no-repeat;
    -webkit-mask-position: center;
    -webkit-mask-size: contain;

    &.search{
        mask-image: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIGhlaWdodD0iMjRweCIgdmlld0JveD0iMCAtOTYwIDk2MCA5NjAiIHdpZHRoPSIyNHB4IiBmaWxsPSIjZTNlM2UzIj48cGF0aCBkPSJNNzg0LTEyMCA1MzItMzcycS0zMCAyNC02OSAzOHQtODMgMTRxLTEwOSAwLTE4NC41LTc1LjVUMTIwLTU4MHEwLTEwOSA3NS41LTE4NC41VDM4MC04NDBxMTA5IDAgMTg0LjUgNzUuNVQ2NDAtNTgwcTAgNDQtMTQgODN0LTM4IDY5bDI1MiAyNTItNTYgNTZaTTM4MC00MDBxNzUgMCAxMjcuNS01Mi41VDU2MC01ODBxMC03NS01Mi41LTEyNy41VDM4MC03NjBxLTc1IDAtMTI3LjUgNTIuNVQyMDAtNTgwcTAgNzUgNTIuNSAxMjcuNVQzODAtNDAwWiIvPjwvc3ZnPg==");
        -webkit-mask-image: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIGhlaWdodD0iMjRweCIgdmlld0JveD0iMCAtOTYwIDk2MCA5NjAiIHdpZHRoPSIyNHB4IiBmaWxsPSIjZTNlM2UzIj48cGF0aCBkPSJNNzg0LTEyMCA1MzItMzcycS0zMCAyNC02OSAzOHQtODMgMTRxLTEwOSAwLTE4NC41LTc1LjVUMTIwLTU4MHEwLTEwOSA3NS41LTE4NC41VDM4MC04NDBxMTA5IDAgMTg0LjUgNzUuNVQ2NDAtNTgwcTAgNDQtMTQgODN0LTM4IDY5bDI1MiAyNTItNTYgNTZaTTM4MC00MDBxNzUgMCAxMjcuNS01Mi41VDU2MC01ODBxMC03NS01Mi41LTEyNy41VDM4MC03NjBxLTc1IDAtMTI3LjUgNTIuNVQyMDAtNTgwcTAgNzUgNTIuNSAxMjcuNVQzODAtNDAwWiIvPjwvc3ZnPg==");
    }
    &.refresh{
        mask-image: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIGhlaWdodD0iMjRweCIgdmlld0JveD0iMCAtOTYwIDk2MCA5NjAiIHdpZHRoPSIyNHB4IiBmaWxsPSIjZTNlM2UzIj48cGF0aCBkPSJNNDgyLTE2MHEtMTM0IDAtMjI4LTkzdC05NC0yMjd2LTdsLTY0IDY0LTU2LTU2IDE2MC0xNjAgMTYwIDE2MC01NiA1Ni02NC02NHY3cTAgMTAwIDcwLjUgMTcwVDQ4Mi0yNDBxMjYgMCA1MS02dDQ5LTE4bDYwIDYwcS0zOCAyMi03OCAzM3QtODIgMTFabTI3OC0xNjFMNjAwLTQ4MWw1Ni01NiA2NCA2NHYtN3EwLTEwMC03MC41LTE3MFQ0NzgtNzIwcS0yNiAwLTUxIDZ0LTQ5IDE4bC02MC02MHEzOC0yMiA3OC0zM3Q4Mi0xMXExMzQgMCAyMjggOTN0OTQgMjI3djdsNjQtNjQgNTYgNTYtMTYwIDE2MFoiLz48L3N2Zz4=");
        -webkit-mask-image: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIGhlaWdodD0iMjRweCIgdmlld0JveD0iMCAtOTYwIDk2MCA5NjAiIHdpZHRoPSIyNHB4IiBmaWxsPSIjZTNlM2UzIj48cGF0aCBkPSJNNDgyLTE2MHEtMTM0IDAtMjI4LTkzdC05NC0yMjd2LTdsLTY0IDY0LTU2LTU2IDE2MC0xNjAgMTYwIDE2MC01NiA1Ni02NC02NHY3cTAgMTAwIDcwLjUgMTcwVDQ4Mi0yNDBxMjYgMCA1MS02dDQ5LTE4bDYwIDYwcS0zOCAyMi03OCAzM3QtODIgMTFabTI3OC0xNjFMNjAwLTQ4MWw1Ni01NiA2NCA2NHYtN3EwLTEwMC03MC41LTE3MFQ0NzgtNzIwcS0yNiAwLTUxIDZ0LTQ5IDE4bC02MC02MHEzOC0yMiA3OC0zM3Q4Mi0xMXExMzQgMCAyMjggOTN0OTQgMjI3djdsNjQtNjQgNTYgNTYtMTYwIDE2MFoiLz48L3N2Zz4=");
    }
}