@use './colors.scss' as *;

artha-message{
    width: 100%;
    padding: 10px;
    text-align: left;
    font-size: 1em;
    cursor: default;

    &[type="error"]{
        background-color: $msg-background-error-color;
        color: $msg-text-error-color;
    }
    &[type="success"]{
        background-color: $msg-background-success-color;
        color: $msg-text-success-color;
    }
    &[type="warning"]{
        background-color: $msg-background-warning-color;
        color: $msg-text-warning-color;
    }
    &[type="info"]{
        background-color: $msg-background-info-color;
        color: $msg-text-info-color;
    }
}